<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <script src="https://kit.fontawesome.com/0c23d4ccc5.js" crossorigin="anonymous"></script>
    <link href="./../assests/css/reset.css" rel="stylesheet">
    <link href="./../assests/css/theme.css" rel="stylesheet">
    <link href="./../assests/css/resume.css" rel="stylesheet">
</head>
<body>
    <div class='head'>
        <div class='head-info'>
            <div class="inline">
                <h1>Vikas M</h1>
                <p class="inline-role">Web Developer</p>           
            </div>
            <p style="margin-top: .3rem; margin-left: .5rem;"><span style="margin-right: 2rem;"></span>My objective is to work in a company with a challenging environment
                that helps me increase my skills and ability to work that in turn build up a result
                oriented career in the field I work. I use this opportunity to join and promise to
                work hard with determination and grow with the company</p>
        </div>
    </div>
</body>
</html>