<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <script src="https://kit.fontawesome.com/0c23d4ccc5.js" crossorigin="anonymous"></script>
    <link href="./../assests/css/reset.css" rel="stylesheet">
    <link href="./../assests/css/theme.css" rel="stylesheet">
    <link href="./../assests/css/resume.css" rel="stylesheet">
</head>
<body>
    <div class='head'>
        <div class="head-profile">
            <img src="https://picsum.photos/150" alt="">
        </div>
        <div class='head-info'>
            <div class="inline">
                <h1>Vikas M</h1>
                <p class="inline-role">Web Developer</p>           
            </div>
            <p style="margin-top: .3rem; margin-left: .5rem;"><span style="margin-right: 2rem;"></span>My objective is to work in a company with a challenging environment
                that helps me increase my skills and ability to work that in turn build up a result
                oriented career in the field I work. I use this opportunity to join and promise to
                work hard with determination and grow with the company</p>
        </div>
    </div>
    <div class="about">
        <div class="about-sec about-start">
            <div class="about-sec-card"><p class="about-sec-card-data">github.com/vikas200600</p><i class="fab fa-github about-sec-card-icon"></i></div>
            <div class="about-sec-card"><p class="about-sec-card-data">linkedin.com/in/vikas200600</p><i class="fab fa-linkedin-in about-sec-card-icon"></i></div>
            <div class="about-sec-card"><p class="about-sec-card-data">hackerrank.com/vikas200600</p><i class="fab fa-hackerrank about-sec-card-icon"></i></div>
        </div>
        <div class="about-sec about-end">
            <div class="about-sec-card"><i class="fas fa-map-marker-alt about-sec-card-icon"></i><p class="about-sec-card-data">Bengaluru, India</p></div>
            <div class="about-sec-card"><i class="fas fa-phone-alt about-sec-card-icon"></i><p class="about-sec-card-data">91 - 8892045813</p></div>
            <div class="about-sec-card"><i class="fas fa-envelope about-sec-card-icon"></i><p class="about-sec-card-data">vikas200600@gmail.com</p></div>
        </div>
    </div>
    <div class="skills">
        <h2 class="heading">Skills</h2>
        <ul class="skills-data">
            <li>Git</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>SCSS</li>
            <li>BootStrap</li>
            <li>JS</li>
            <li>JQuery</li>
            <li>ReactJs</li>
            <li>Angular</li>
            <li>Redux</li>
            <li>NodeJs</li>
            <li>ExpressJs</li>
            <li>MongoDB</li>
            <li>MySql</li>
        </ul>
        <ul class="skills-icon">
            <li><i class="fab fa-react"></i></li>
            <li><i class="fab fa-angular"></i></li>
            <li><i class="fab fa-node"></i></li>
            <li><i class="fab fa-java"></i></li>
            <li><i class="fab fa-git"></i></li>
            <li><i class="fab fa-html5"></i></li>
            <li><i class="fab fa-js"></i></li>
            <li><i class="fab fa-css3-alt"></i></li>
            <li><i class="fab fa-bootstrap"></i></li>
            <li><i class="fab fa-sass"></i></li>
        </ul>
    </div>
</body>
</html>