<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <script src="https://kit.fontawesome.com/0c23d4ccc5.js" crossorigin="anonymous"></script>
    <link href="./../assests/css/reset.css" rel="stylesheet">
    <link href="./../assests/css/theme.css" rel="stylesheet">
    <link href="./../assests/css/resume.css" rel="stylesheet">
</head>
<body>
    <div class='head'>
        <div class="head-profile">
            <img src="./../assests/img/vikas.jpeg" alt="">
        </div>
        <div class='head-info'>
            <div class="inline">
                <h1>Vikas M</h1>
                <p style="align-self: flex-end; font-size: .8rem;" class="inline-role">Web Developer</p>           
            </div>
            <p style="margin-top: .3rem; margin-left: .5rem;"><span style="margin-right: 2rem;"></span>I aim to work in a company with a challenging environment
                that helps me increase my skills and build a result
                oriented career in the field I work. I use this opportunity to join and promise to
                work hard with determination and grow with the company</p>
        </div>
    </div>
    <div class="about">
        <div class="about-sec about-start">
            <div class="about-sec-card"><p class="about-sec-card-data">github.com/vikas200600</p><i class="fab fa-github about-sec-card-icon"></i></div>
            <div class="about-sec-card"><p class="about-sec-card-data">linkedin.com/in/vikas200600</p><i class="fab fa-linkedin-in about-sec-card-icon"></i></div>
            <div class="about-sec-card"><p class="about-sec-card-data">hackerrank.com/vikas200600</p><i class="fab fa-hackerrank about-sec-card-icon"></i></div>
        </div>
        <div class="about-sec about-end">
            <div class="about-sec-card"><i class="fas fa-map-marker-alt about-sec-card-icon"></i><p class="about-sec-card-data">Bengaluru, India</p></div>
            <div class="about-sec-card"><i class="fas fa-phone-alt about-sec-card-icon"></i><p class="about-sec-card-data">91 - 8892045813</p></div>
            <div class="about-sec-card"><i class="fas fa-envelope about-sec-card-icon"></i><p class="about-sec-card-data">vikas200600@gmail.com</p></div>
        </div>
    </div>
    <div class="skills">
        <h2 >Skills</h2>
        <ul style="margin-top: 8px;" class="skills-data">
            <li>Git</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>SCSS</li>
            <li>BootStrap</li>
            <li>JavaScript</li>
            <li>JQuery</li>
            <li>ReactJs</li>
            <li>Angular</li>
            <li>Redux</li>
            <li>NodeJs</li>
            <li>ExpressJs</li>
            <li>MongoDB</li>
            <li>MySql</li>
        </ul>
        <ul class="skills-icon">
            <li><i class="fab fa-react"></i></li>
            <li><i class="fab fa-angular"></i></li>
            <li><i class="fab fa-node"></i></li>
            <li><i class="fab fa-java"></i></li>
            <li><i class="fab fa-git"></i></li>
            <li><i class="fab fa-html5"></i></li>
            <li><i class="fab fa-js"></i></li>
            <li><i class="fab fa-css3-alt"></i></li>
            <li><i class="fab fa-bootstrap"></i></li>
            <li><i class="fab fa-sass"></i></li>
        </ul>
    </div>
    <div class="projects">
        <h2 class="heading">Works</h2>
        <div style="margin-top: 8px;"class="projects-cards">
            <div class="projects-cards-card">
                <h3 class="project-card-head">Tvastra</h3>
                <p class="project-card-desc">Tvastra is an web app where doctors can add and modify their schedules and patients can book appointments with doctors and check their upcoming and past appointments. Users can also access their prescriptions and medical reports for the visit.</p>
                <p style="padding-top: .8rem;"><span class="strong">Techs Used</span>: MongoDB, HTML, EJS, SCSS, CSS, Jquery, NodeJs, ExpressJs, MongooseJs
                    </p>
            </div>
            <div class="projects-cards-card">
                <h3 class="project-card-head">Xpensplit</h3>
                <p class="project-card-desc">This application helps splitting the amount between a group of people where users can create groups and add members to divide among and can know details of the amount owed to any person in the group.</p>
                <p style="padding-top: .8rem;"><span class="strong">Techs Used</span>: MongoDB, ReactJs, Bootstrap, Jquery, NodeJs, ExpressJs, MongooseJs</p>
            </div>
        </div>
    </div>
    <div style="padding-top: 0;" class='education'>
        <h2 class="heading">Education</h2>
        <div class="education-cards">
            <div class="education-cards-card">
                <h3>Indian Academy Degree College - Autonomous</h3>
                <h4>Bachelor of Computer Application        ( 2016-2019 ) <span class="strong">63.53%</span></h4>
            </div>
            <div class="education-cards-card">
                <h3>Indian Academy Pre University College</h3>
                <h4>PCMC - Science        ( 2014-2016 ) <span class="strong">60.67%</span></h4>
            </div>
            <div class="education-cards-card">
                <h3>ST Don Bosco's English School</h3>
                <h4>Class X        ( 2014 ) <span class="strong">72.16%</span></h4>            
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Made With HTML & SCSS</p>
        <p>Resume &copy; Vikas M, Bengaluru </p>
    </div>
</body>
</html>