body {
  background-color: var(--white);
}

body > div {
  padding: 1rem;
  margin: .2rem;
  margin-top: 0;
}

h2 {
  text-align: right;
  background-color: var(--dullWhite);
  border-radius: 25%;
  display: inline;
}

.head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1.5fr;
      grid-template-columns: auto 1.5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 1rem;
  border: 1px solid var(--darkBlue);
  color: var(--darkGray);
  padding: 1rem;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 35%;
}

.head-profile img {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 35%;
  width: 150px;
  height: 150px;
  border: 1px solid var(--darkBlue);
}

.head-info {
  -ms-grid-column-align: end;
      justify-self: end;
}

.inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: .5rem;
}

.strong {
  font-weight: bold;
  font-family: 'NexaBold';
}

.about {
  border: 1px solid var(--darkBlue);
  color: var(--mixGray);
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 20rem;
  border-bottom-right-radius: 3rem;
}

.about-sec-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1rem;
  margin-bottom: .5rem;
}

.about-sec-card-icon {
  font-size: 1.2rem;
}

.about-sec-card-data {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-start {
  justify-self: flex-end;
}

.about-start div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.skills {
  border-bottom: 1px solid var(--darkBlue);
  border-bottom-right-radius: 8rem;
}

.skills-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills-data li {
  padding: .3rem .5rem;
  border: 1px solid var(--darkBlue);
  border-radius: 1rem;
  border-top-left-radius: 0;
}

.skills-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: .5rem;
  padding-top: .7rem;
}

.skills-icon :nth-child(10) {
  position: relative;
  top: -2.4rem;
}

.skills-icon :nth-child(9) {
  position: relative;
  top: -1rem;
}

.skills-icon li i {
  font-size: 1.2rem;
}

.projects-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: .2rem;
}

.projects-cards-card {
  padding: 1rem;
  border: 1px solid var(--darkBlue);
}

.projects-cards > :nth-child(1) {
  text-align: left;
  border-left: 0;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 25px;
}

.projects-cards > :nth-child(2) {
  text-align: right;
  border-right: 0;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 25px;
}

.education-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-column-gap: .5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education-cards-card {
  padding: .8rem;
  border: 1px solid var(--darkBlue);
}

.education-cards > :nth-child(1) {
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  border-radius: 10rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.education-cards > :nth-child(2) {
  text-align: right;
  border-bottom-left-radius: 10rem;
}

.education-cards > :nth-child(3) {
  text-align: left;
  border-bottom-right-radius: 10rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid var(--darkBlue);
  border-radius: 25px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0 .5rem;
}

.footer p {
  font-size: .725rem;
}
/*# sourceMappingURL=resume.css.map */